
@model DoAn_LapTrinhWeb.Models.ChangePassword
@using DoAn_LapTrinhWeb.Common.Helpers
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
@using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <!--begin::Section-->
    <section class="mb_changepass margin_mobile_fixed">
        <!--begin::Container-->
        <div class="container mt-20px ">
            <div class="center-noleftright">
                <!--begin::Row-->
                <div class="row no-gutters">
                    <!--begin::Col-->
                    <div class="col-12 col-lg-3 col-xl-3 3 ">
                        <!--begin::Section-->
                        <section class="user-info mb-1">
                            <!--begin::Pic-->
                            <div class="avatar_profile">
                                <img alt="Ảnh đại diện" class="rounded-circle" src="@User.Identity.GetAvartar()" />
                            </div>
                            <!--end::Pic-->
                            <!--begin::User Name-->
                            <div class="caption">
                                <div class="title">Tài khoản của</div>
                                <div class="name">@User.Identity.GetName()</div>
                            </div>
                            <!--end::User Name-->
                        </section>
                        <!--end::Section-->
                        <!--begin::Nav-->
                        <nav class="user-sidebar">
                            <ul>
                                <li class="">
                                    <a href="@Url.Action("Editprofile","Account")">
                                        <div class="icon">
                                            <i class="material-icons">person</i>
                                        </div>
                                        <span>Thông tin tài khoản</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="@Url.Action("ChangePassword","Account")">
                                        <div class="icon">
                                            <i class="material-icons">lock</i>
                                        </div>
                                        <span>Đổi mật khẩu</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("TrackingOrder","Account")">
                                        <div class="icon">
                                            <i class="material-icons">assignment</i>
                                        </div>
                                        <span>Quản lý đơn hàng</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!--end::Nav-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-12 col-lg-9 col-xl-9">
                        <!--begin::user Page-->
                        <div class="user-page">
                            <div class="page-title text-uppercase">Cập nhật mật khẩu</div>
                            <div class="user-form">
                                <div class="form-wrap">
                                    <!--begin::Form-->
                                    <form method="POST" id="loginForm" class="needs-validation" novalidate="" autocomplete="off">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <!--begin::Input Form Group-->
                                        <div class="settingrow form-group mb-3">
                                            <label class="settinglabel control-label col-sm-3">Mật khẩu cũ<small style="color:red;">(*)</small></label>
                                            <div class="col-sm-9">
                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!--end::Input Form Group-->
                                        <!--begin::Input Form Group-->
                                        <div class="settingrow form-group mb-3">
                                            <label class="settinglabel control-label col-sm-3">Mật khẩu mới<small style="color:red;">(*)</small></label>
                                            <div class="col-sm-9">
                                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!--end::Input Form Group-->
                                        <!--begin::Input Form Group-->
                                        <div class="settingrow form-group mb-3">
                                            <label class="settinglabel control-label col-sm-3">Nhập lại MK<small style="color:red;">(*)</small></label>
                                            <div class="col-sm-9">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!--end::Input Form Group-->
                                    </form>
                                    <!--end::Form-->
                                    <!--begin::Action-->
                                    <div class="form-group clearfix">
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <!--begin::Button-->
                                            <button type="submit" tabindex="4" class="btn bg-button ms-120px rounded-100px">Cập nhật</button>
                                            <!--end::Button-->
                                        </div>
                                    </div>
                                    <!--end::Action-->
                                </div>
                            </div>
                        </div>
                        <!--end::user Page-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Row-->
            </div>
        </div>
         <!--end::Container-->
    </section>
    <!--end::Section-->
}

