@{
    ViewBag.Title = "Bảng Điều Khiển";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section scripts{
    <!--biểu đồ chart-->
    <script src="~/Scripts/admin_js/highcharts.js"></script>
    <script src="~/Scripts/admin_js/custom_highcharts.js"></script>
}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-place="true" data-kt-place-mode="prepend" data-kt-place-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">Thống kê</h1>
                <!--end::Title-->
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start mx-4"></span>
                <!--end::Separator-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        <a href="index.html" class="text-muted text-hover-primary">Bảng diều khiển</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-dark">Thống kê</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container">
            <!--begin::Card-->
            <div class="card">
                <!--begin::Row-->
                <!--Toàn bộ ViewBag... đều nằm ở Action"Index" Controller "Dashboard"-->
                <div class="row gy-5 gx-xl-8 mt-1 pb-2 ps-5 pe-5">
                    <div class="d-flex justify-content-center"><h3>Thống kê tháng @DateTime.Now.ToString("MM")</h3> </div>
                    <!--begin::Col-->
                    <div class="col-lg-3">
                        <!-- small box -->
                        <div class="small-box bg_Statistics1">
                            <div class="inner">
                                <h3>@ViewBag.CountOrderWaitting</h3>
                                <p>Đơn hàng mới</p>
                            </div>
                            <div class="icon">
                                <i class="bi bi-cart-plus"></i>
                            </div>
                            <a href="@Url.Action("OrderIndex", "Orders", new { sortOrder=ViewBag.WaitingOrder})" class="small-box-footer">Xem thêm <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-lg-3">
                        <!-- small box -->
                        <div class="small-box bg_Statistics9">
                            <div class="inner">
                                <h3>@ViewBag.CountOrderProcessing</h3>
                                <p>Đơn hàng đang xử lý</p>
                            </div>
                            <div class="icon">
                                <i class="bi bi-cart"></i>
                            </div>
                            <a href="@Url.Action("OrderIndex", "Orders", new { sortOrder=ViewBag.ProcessingOrder })" class="small-box-footer">Xem thêm <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-lg-3">
                        <!-- small box -->
                        <div class="small-box bg_Statistics2">
                            <div class="inner">
                                <h3>@ViewBag.CountOrderComplete</h3>
                                <p>Đơn hàng đã hoàn thành</p>
                            </div>
                            <div class="icon">
                                <i class="bi bi-cart-check-fill"></i>
                            </div>
                            <a href="@Url.Action("OrderIndex", "Orders", new { sortOrder=ViewBag.CompleteOrder })" class="small-box-footer">Xem thêm <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-lg-3">
                        <!-- small box -->
                        <div class="small-box bg_Statistics3">
                            <div class="inner">
                                <h3>@ViewBag.CountOrderCancled</h3>
                                <p>Đơn hàng đã hủy</p>
                            </div>
                            <div class="icon">
                                <i class="bi bi-cart-x-fill"></i>
                            </div>
                            <a href="@Url.Action("OrderTrash", "Orders")" class="small-box-footer">Xem thêm <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="row gy-5 pb-2 gx-xl-8 ps-5 pe-5">
                    <!--begin::Col-->
                    <div class="col-lg-3">
                        <!-- small box -->
                        <div class="small-box bg_Statistics10">
                            <div class="inner">
                                <h3>@ViewBag.CountProductsNew</h3>
                                <p>Sản phẩm mới</p>
                            </div>
                            <div class="icon">
                                <i class="bi bi-box"></i>
                            </div>
                            <a href="@Url.Action("ProductIndex", "ProductsAdmin")" class="small-box-footer">Xem thêm <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-lg-3">
                        <!-- small box -->
                        <div class="small-box bg_Statistics11">
                            <div class="inner">
                                <h3>@ViewBag.CountProductSale</h3>
                                <p>Số lượng sản phẩm đã bán</p>
                            </div>
                            <div class="icon">
                                <i class="bi bi-cash-stack"></i>
                            </div>
                            <a class="small-box-footer">Sản phẩm đã bán</a>
                        </div>
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-lg-3">
                        <!-- small box -->
                        <div class="small-box bg_Statistics4">
                            <div class="inner">
                                @if (ViewBag.CountTurnover == 0)
                                {
                                    <h3>0₫</h3>
                                }
                                else
                                {
                                    <h3>@string.Format("{0:0,0₫}", ViewBag.CountTurnover)</h3>
                                }
                                <p>Tổng doanh thu tháng @DateTime.Now.ToString("MM")</p>
                            </div>
                            <div class="icon">
                                <i class="bi bi-cash-coin"></i>
                            </div>
                            <a class="small-box-footer">Doanh thu tháng</a>
                        </div>
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-lg-3">
                        <!-- small box -->
                        <div class="small-box bg_Statistics4">
                            <div class="inner">
                                @if (ViewBag.CountTurnover1 == 0)
                                {
                                    <h3>0₫</h3>
                                }
                                else
                                {
                                    <h3>@string.Format("{0:0,0₫}", ViewBag.CountTurnover1)</h3>
                                }
                                <p>Tổng doanh thu năm @DateTime.Now.ToString("yyyy")</p>
                            </div>
                            <div class="icon">
                                <i class="bi bi-cash-coin"></i>
                            </div>
                            <a class="small-box-footer">Doanh thu năm</a>
                        </div>
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="row gy-5 gx-xl-8 ps-5 pe-5">
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-lg-3">
                        <!-- small box -->
                        <div class="small-box bg_Statistics5">
                            <div class="inner">
                                <h3>@ViewBag.CountPost</h3>
                                <p>Bài viết đã tạo</p>
                            </div>
                            <div class="icon">
                                <i class="bi bi-newspaper"></i>
                            </div>
                            <a href="@Url.Action("NewsIndex", "NewsAdmin")" class="small-box-footer">Xem thêm <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-lg-3">
                        <!-- small box -->
                        <div class="small-box bg_Statistics6">
                            <div class="inner">
                                <h3>@ViewBag.VisitorOnline</h3>
                                <p>Khách đang online</p>
                            </div>
                            <div class="icon">
                                <i class="bi bi-person-bounding-box"></i>
                            </div>
                            <a class="small-box-footer">Khách online</a>
                        </div>
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-lg-3">
                        <!-- small box -->
                        <div class="small-box bg_Statistics7">
                            <div class="inner">
                                <h3>@ViewBag.CountUsers</h3>
                                <p>Thành viên mới</p>
                            </div>
                            <div class="icon">
                                <i class="bi bi-person-plus"></i>
                            </div>
                            <a href="@Url.Action("UserIndex", "Roles")" class="small-box-footer">Xem thêm <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-lg-3">
                        <!-- small box -->
                        <div class="small-box bg_Statistics8">
                            <div class="inner">
                                <h3>@ViewBag.CountContact</h3>
                                <p>Liên hệ khách hàng</p>
                            </div>
                            <div class="icon">
                                <i class="bi bi-telephone-plus"></i>
                            </div>
                            <a href="@Url.Action("ContactIndex", "Contacts")" class="small-box-footer">Xem thêm <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                </div>
                <!--end::Row-->
                <!--begin::Chart-->
                <div class="row pt-xl-2 pb-xl-10">
                    <!--high_charts | path :Scripts/admin_js/custom_highcharts.js-->
                    <div id="top_10_charts" class="high_charts"></div>
                </div>
                <!--end::Chart-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::content-->
